@import "tailwindcss";

@theme {
  --color-primary: #076653;
  --color-light-primary: rgba(7, 102, 83, .3);
}

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0c342c;
    --foreground: #ededed;
    --color-primary: #e3ef26;
    --color-light-primary: rgba(227, 239, 38, .3);
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Noto Sans KR, sans-serif;
}